<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633054477323-pspjjla4bi50hldarpt5ms3ervpg5hne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633054477323-pspjjla4bi50hldarpt5ms3ervpg5hne</string>
	<key>API_KEY</key>
	<string>AIzaSyD0pDRoqJdNJMWXavFqNm1j6oUrzOLCt-4</string>
	<key>GCM_SENDER_ID</key>
	<string>633054477323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>b17-insta-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>b17-insta-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633054477323:ios:802a221fdcbde1886a5b0e</string>
</dict>
</plist>